/*FONT SIZES*/
$font_size_menu: 22px;

/*MENU VARIABLES*/
$menu_down_color: rgb(245,245,245);
$menu_height: 100px;

/*SECTION SIZES*/
$section_padding_bottom: 10vh;

/*SOCIAL MEDIA*/
$sm_icons_color: #fff;
$sm_icons_wrapper_color: #333;
$sm_icons_wrapper_hover: #5bc0de;

/*FORM*/
$form_bg_color: #f2f2f2;
$form_bg_color_focus: #cccccc;
$form_error_font_size: 16px;