@import "00_zmienne";

@mixin background_image ($url,$position,$size) {
    background-image: $url;
    background-position: $position;
    background-size: $size;
    background-repeat: no-repeat;
}

@mixin element_center {
    left: 0;
    right: 0;
    margin: 0 auto;
}


@mixin placeholder_styling ($font_weight, $font_style, $font_color) {
    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {font-weight: $font_weight; text-transform: $font_style; color: $font_color;}
    input::-moz-placeholder, textarea::-moz-placeholder {font-weight: $font_weight; text-transform: $font_style; color: $font_color;}
    input::-ms-input-placeholder, textarea::-ms-input-placeholder {font-weight: $font_weight; text-transform: $font_style; color: $font_color;}
    input:-moz-placeholder, textarea:-moz-placeholder {font-weight: $font_weight; text-transform: $font_style; color: $font_color;}
}

@mixin input_basic_styling {
    width: 85%;
    padding: 10px;
    margin: 20px;
    font-size: 18px;
    border-radius: 10px;
    background-color: $form_bg_color;
    border: 1px solid darkgrey;
}