@import "00_zmienne";
@import "01_mixins";

h1 {
    text-transform: uppercase;
    font-weight: bold;
}

h2, h3 {
    text-transform: uppercase;
}  

.header_wrapper {
    width: 100%;
    text-align: center;
}

#menu {
    background-color: rgba(255,255,255,.8);
    #menu_header {
        .navbar-brand {
            height: 100px;
        }
        
        .navbar-toggle {
            padding: 10px;
            margin: 35px 15px 35px 0px;
        }
    }
    
    .navbar-collapse {
        max-height: 600px !important;
        
        .nav {
            a {
                font-size: 20px;
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
    }
}
 
#header {
    @include background_image (url("../img/gif_zastepczy_home.gif"), center, cover);
    background-attachment: fixed;
    height: 100vh;
    padding: 0;
    text-align: center;
    
    #header_container_mask {
        height: 100vh;
        padding: 30vh 0;
        background-color: rgba(255,255,255,.5);
        
        #header_row_1 {
            height: 100%;

            #header_logo {
                @include background_image (url("../img/logo_big.png"), center, cover);
                @include element_center;
                height: 150px;
                width: 150px;
            }
        }
    }
} 