@import "00_zmienne";
@import "01_mixins";

h1 {
    text-transform: uppercase;
    font-weight: bold;
}

h2, h3 {
    text-transform: uppercase;
}  

.header_wrapper {
    width: 100%;
    text-align: center; 
}

.navbar_hide {
    top: -$menu_height !important;
}

.navbar_show {
    top: 0 !important;
}

.navbar_below_color {
    background-color: $menu_down_color !important;
}

.form_error_add {
    color: red;
    font-weight: bold;
    font-size: $form_error_font_size;
    margin: 0;
}

.form_error_previous {
    margin-bottom: 0px !important;
}