@import "00_zmienne";
@import "01_mixins";

#menu {
    background-color: rgba(255,255,255,.8);
    margin-bottom: 100px;
    transition: top 0.4s ease-in-out;
    
    #menu_header {
        .navbar-brand {
            height: $menu_height;
        }
        
        .navbar-toggle {
            padding: 10px;
            margin: 35px 15px 35px 0px;
        }
    }
    
    .navbar-collapse {
        max-height: 600px !important;
        
        .nav {
            a {
                font-size: 20px;
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
    }
}
 
#header {
    @include background_image (url("../img/gif_zastepczy_home.gif"), center, cover);
    background-attachment: fixed;
    height: 100vh;
    padding: 0;
    text-align: center;
    
    #header_container_mask {
        height: 100vh;
        padding: 30vh 0;
        background-color: rgba(255,255,255,.5);
        
        #header_row_1 {
            height: 100%;

            #header_logo {
                @include background_image (url("../img/logo_big.png"), center, cover);
                @include element_center;
                height: 150px;
                width: 150px;
            }
        }
    }
} 