@import "00_zmienne";

@import "01_mixins";

#team {
      
    padding-bottom: $section_padding_bottom;
    
    .team_fotos_wrapper_outer {
        text-align: center;
        
        i {color: $sm_icons_color;}

        .social_media_icons_container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 0px;
        } 
 
        .social_media_icons_wrapper {
            height: 35px;
            width: 35px;
            background-color: $sm_icons_wrapper_color;
            border-radius: 25%;
            margin: 8px;
            display: flex;
            flex-direction: column;
        }

        .social_media_icons {
            margin: auto;
            font-size: 20px;
        }
 
        .social_media_icons_wrapper:hover {
            background-color: $sm_icons_wrapper_hover;
            border-radius: 50%;
            transition: all 0.2s ease-in-out;
        }
    }
    
    .team_foto_wrapper {
        @include element_center;
        height: 150px;
        width: 150px;
        border-radius: 25%;
    }
    
    #team_foto_1 {
        @include background_image (url("../img/piotrek.png"),
            center,
            cover);
    } 
    
    #team_foto_2 {
        @include background_image (url("../img/pawel.jpg"),
            center,
            cover);
    }
}   