@import "00_zmienne";

@import "01_mixins";

#portfolio {
    padding-bottom: $section_padding_bottom;
    text-align: center;
    
    .portfolio_item_image_wrapper {
        height: 400px;
        
        .portfolio_item_image {
            width: 100%;
            height: 75%;
            position: relative;
            
            .portfolio_item_mask {
                position: absolute;
                height: 100%;
                width: 100%;
                opacity: 0;
                background-color: rgba(255,255,255, 0.7);
                font-size: 2%;
                
                .portfolio_item_mask_content {
                    position: relative;
                    height: 100%;
                    
                    .portfolio_item_mask_content_inner {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        padding: 5px;
                        font-size: 60px;
                    }
                }
            }
            
            .portfolio_item_mask:hover {
                opacity: 1;
                transition: all 0.3s ease-in-out;
            }
        }
        
        #portfolio_item_image_1 {
            @include background_image (url("../img/road-sign.jpg"), center, cover);
        }
        
        #portfolio_item_image_2 {
            @include background_image (url("../img/cherries.jpg"), center, cover);
        }
        
        #portfolio_item_image_3 {
            @include background_image (url("../img/tomato.jpg"), center, cover);
        }
    }
}