@import "00_zmienne";
@import "01_mixins";

#data {
    padding-bottom: $section_padding_bottom;
    
    #data_content_wrapper {
        text-align: center;
        
        .data_subheader {
            text-transform: uppercase;
        }
        
        .data_wrapper_inner {
            span {
                font-weight: bold;
            }
        }
    } 
}

#footer {
    background-color: lightgray;
    
    .copyright { 
        text-align: center;
        line-height: 100%; 
        p {
            margin: 0;
            padding-top: 17px;
            padding-bottom: 17px;
            font-size: 16px;
        }
    }
}