@import "00_zmienne";
@import "01_mixins";

#data {
    padding-bottom: $section_padding_bottom;
    
    #data_content_wrapper {
        text-align: center;
        
        .data_subheader {
            text-transform: uppercase;
        }
        
        .data_wrapper_inner {
            span {
                font-weight: bold;
            }
        }
    } 
}

#footer {
    background-color: lightgray;
    
    .copyright { 
        text-align: center;
        line-height: 100%; 
        p {
            margin: 0;
            padding-top: 17px;
            padding-bottom: 17px;
            font-size: 16px;
        }
    }
    
    .footer_center { 
        text-align: center;
        
        i {color: $sm_icons_color;}

        .social_media_icons_container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 0px;
        }

        .social_media_icons_wrapper {
            height: 35px;
            width: 35px;
            background-color: $sm_icons_wrapper_color;
            border-radius: 25%;
            margin: 8px;
            display: flex;
            flex-direction: column;
        }

        .social_media_icons {
            margin: auto;
            font-size: 20px;
        }

        .social_media_icons_wrapper:hover {
            background-color: $sm_icons_wrapper_hover;
            border-radius: 50%;
            transition: all 0.2s ease-in-out;
        }
    }
}