body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
@import "02_basic";

@import "03_menu_header";

@import "04_about";

@import "05_team";

@import "06_portfolio";

@import "07_contact";  

@import "08_data_footer";
 
@import "09_responsive";