body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

@import "02_menu_header";

@import "03_about_services";

@import "04_team";

@import "05_portfolio";

@import "06_kontakt_stopka";  

@import "07_responsive";