h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff; }

h3 {
  text-transform: uppercase;
  color: #fff; }

h2 {
  text-transform: uppercase; }

.header_wrapper {
  width: 100%;
  text-align: center; }

section {
  padding-bottom: 4vw; }

#menu {
  height: 100px;
  border: none;
  opacity: 0.5; }
  #menu #menu_header a {
    padding-top: 15px;
    padding-bottom: 15px; }
  #menu ul {
    height: 100px; }
    #menu ul a {
      height: 30px;
      padding: 35px 25px;
      font-size: 22px; }

#header {
  background-image: url("../img/gif_zastepczy_home.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  padding: 30vh 0;
  text-align: center; }
  #header #header_row_1 {
    height: 100%; }
    #header #header_row_1 #header_logo {
      background-image: url("../img/logo_big.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 150px;
      width: 150px; }

#about {
  height: 60vh; }
  #about #about_items_row_wrapper {
    height: 11vh;
    color: #fff; }
    #about #about_items_row_wrapper .about_items {
      background-image: url("../img/4_popr.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 11vh;
      border-bottom: 8px solid #fafad1;
      text-align: center;
      padding: 10px; }
      #about #about_items_row_wrapper .about_items i {
        font-size: 20px; }
    #about #about_items_row_wrapper #about_items_2 {
      border-left: 8px solid #fafad1;
      border-right: 8px solid #fafad1; }

#team {
  height: 60vh; }
  #team .team_fotos_wrapper_outer {
    text-align: center; }
    #team .team_fotos_wrapper_outer i {
      color: #fff; }
    #team .team_fotos_wrapper_outer .social_media_icons_container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0px; }
    #team .team_fotos_wrapper_outer .social_media_icons_wrapper {
      height: 35px;
      width: 35px;
      background-color: #333;
      border-radius: 25%;
      margin: 8px;
      display: flex;
      flex-direction: column; }
    #team .team_fotos_wrapper_outer .social_media_icons {
      margin: auto;
      font-size: 20px; }
    #team .team_fotos_wrapper_outer .social_media_icons_wrapper:hover {
      background-color: #5bc0de;
      border-radius: 50%;
      transition: all 0.2s ease-in-out; }
  #team .team_foto_wrapper {
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 150px;
    width: 150px;
    border-radius: 25%; }
  #team #team_foto_1 {
    background-image: url("../img/piotrek.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  #team #team_foto_2 {
    background-image: url("../img/pawel.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

#portfolio {
  text-align: center; }
  #portfolio .portfolio_item_image_wrapper {
    height: 400px; }
    #portfolio .portfolio_item_image_wrapper .portfolio_item_image {
      width: 100%;
      height: 75%;
      position: relative; }
      #portfolio .portfolio_item_image_wrapper .portfolio_item_image .portfolio_item_mask {
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        background-color: rgba(255, 255, 255, 0.7);
        font-size: 2%; }
        #portfolio .portfolio_item_image_wrapper .portfolio_item_image .portfolio_item_mask .portfolio_item_mask_content {
          position: relative;
          height: 100%; }
          #portfolio .portfolio_item_image_wrapper .portfolio_item_image .portfolio_item_mask .portfolio_item_mask_content .portfolio_item_mask_content_inner {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            margin: 0 auto;
            padding: 5px;
            font-size: 60px; }
      #portfolio .portfolio_item_image_wrapper .portfolio_item_image .portfolio_item_mask:hover {
        opacity: 1;
        transition: all 0.3s ease-in-out; }
    #portfolio .portfolio_item_image_wrapper #portfolio_item_image_1 {
      background-image: url("../img/road-sign.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    #portfolio .portfolio_item_image_wrapper #portfolio_item_image_2 {
      background-image: url("../img/cherries.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    #portfolio .portfolio_item_image_wrapper #portfolio_item_image_3 {
      background-image: url("../img/tomato.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }

#contact input::-webkit-input-placeholder, #contact textarea::-webkit-input-placeholder {
  font-weight: 700; }

#contact input::-moz-placeholder, #contact textarea::-moz-placeholder {
  font-weight: 700; }

#contact input::-ms-input-placeholder, #contact textarea::-ms-input-placeholder {
  font-weight: 700; }

#contact input:-moz-placeholder, #contact textarea:-moz-placeholder {
  font-weight: 700; }
